<!--CLEAR FOOTER-->

<div class="site-footer-clear">
    <div class="container-fluid">
        <div class="row footer-title-clear align-content-center">
            <div class="col-12 font-weight-bold footer-title-clear">
                <h4 class="footer-title-clear font-weight-bold">StopUnderThinking</h4>
            </div>
            <div class="col-sm-4 col-md-2 color-clear">
                <h5 class="footer-title-clear">About</h5>
                <ul class="footer-links-clear">
                    <li class="color-clear"><a href="#" class="footer-item font-weight-light">Our Story</a></li>
                    <li class="color-clear"><a href="#" class="footer-item font-weight-light">Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2 color-clear">
                <h5 class="footer-title-clear">Help</h5>
                <ul class="footer-links-clear">
                    <li class="color-clear"><a href="#" class="footer-item font-weight-light">Guide</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2 color-clear">
                <h5 class="footer-title-clear">Navigate</h5>

                <ul class="footer-links-clear">
                    <li class="color-clear"><a href="{{ url_for('signout') }}" class="footer-item font-weight-light">Signout</a></li>
                    <li class="color-clear"><a href="" class="footer-item font-weight-light">Journal</a></li>
                    <br>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 color-clear">
                <!-- Social Media -->
                <i class="fab fa-instagram fa-3x"></i>
                <i class="fab fa-twitter fa-3x"></i>
                <i class="fab fa-facebook-f fa-3x"></i>
            </div>
            <div class="col-sm-6 col-md-3 color-clear">
                <h5 class="footer-title-clear">Contact Us</h5>
                <a href="#" class="color-clear footer-item font-weight-light">stopunderthinking@gmail.com</a>
            </div>
        </div>
    </div>
</div>