{% include "base.html" %}
{% include "navbar.html" %}

<div class="main">

    <!--Image and Quote-->
    <div id="image-land-1">
        <div class="row quote-1-main">
            <div class="col-1 col-md-3"></div>
            <div class="col-10 col-md-7">
                <h1 class="display-2 text-right thicker">If not know, when?</h1>
            </div>
        </div>
        <div class="row quote-1-sub">
            <div class="col-1 col-md-5"></div>
            <div class="col-10 col-md-5">
                <blockquote class="blockquote font-weight-light text-right">
                    <p>If you spend too much time thinking about a thing, you’ll never get it done</p>
                    <footer class="blockquote-footer"><cite title="Bruce Lee" style="color: #E3E3E3 !important;">Bruce Lee</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <!--About Section-->
    <div class="about">
<!--        -->
        <div class="row about-element">
            <div class="col-md-4 about-text">
                <h3>Habit: A regular tendency or practice.</h3>
                <p>To form a habit it takes 66 days on average. They can bring positivity or negativity into your life.
                    They are harder to break, reducing mental resistance to start a healthy task such as exercise or
                    increase mental resistance to quit an unhealthy task such as smoking. Habits are a powerful tool to
                    shape your life, only through consistency and deliberate practice can mastery be achieved.
                    Make the right habits.<br><br></p>
            </div>
            <div class="col-md-6" id="about-image-1"></div>
        </div>
<!--        -->
        <div class="row about-element">
            <div class="col-md-1"></div>
            <div class="col-md-5" id="about-image-2"></div>
            <div class="col-md-4 about-text">
                <h3>Journal: To write in a journal or diary.</h3>
                <p>The habit of journaling allows for self reflection and contemplation, only through review can one
                    make the most effective decisions. Journaling does more than self-expression and noting memories,
                    there are a wide range of short to long term benefits from reduced stress/anxiety to increasing
                    memory capacity and improving immune functions.<br><br></p>
            </div>

        </div>
<!--        -->
        <div class="row about-element">
            <div class="col-md-4 about-text">
                <h3>Notebook: A place to make notes.</h3>
                <p>To make notes, to record information captured from another source for developing knowledge or future
                    reference. By taking notes, the writer captures the essence of the information, freeing their mind
                    from having to recall everything.<br><br>Average writing speed: 13 WPM<br>Average typing speed:
                    40 WPM<br><br></p>
            </div>
            <div class="col-md-6" id="about-image-3"></div>
        </div>
<!--        -->
    </div>

    <!--Image and Quote End-->
    <div id="image-land-2">
        <div class="row quote-2-main">
        <!-- At different screen sizes the text changes classes and shrinks -->
            <div class="col-sm-1 col-md-3"></div>
            <div class="col-md-7 showHide-large">
                <h1 class="display-3 text-right quote-2-main-large">To be in the top 1%, you have to be willing to do
                    what the other 99% aren’t</h1>
            </div>
            <div class="col-sm-8 showHide-small">
                <h5 class="display-3 text-center quote-2-main-small">To be in the top 1%, you have to be willing to do
                    what the other 99% aren’t</h5>
            </div>
            <div class="col-sm-8 showHide-xssmall">
                <h5 class="display-3 text-center quote-2-main-xssmall">To be in the top 1%, you have to be willing to
                    do what the other 99% aren’t</h5>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="footer">
            {% include "clear-footer.html" %}
        </div>
    </div>
</div>







